@import "../../common/common.scss";

.btn {
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  outline: none;
  margin-top: $line-spacing;
  transition: $transition-time;
  border-style: solid;
}

.normal {
  background-color: $dark-lava;
  border-color: $saffron;
  color: $saffron;
}

.danger {
  background-color: $dark-lava;
  border-color: $tart-orange;
  color: $tart-orange;
}

.normal:hover {
  background-color: $saffron;
  border-color: $dark-lava;
  color: $dark-lava;
}

.danger:hover {
  background-color: $tart-orange;
  border-color: $dark-lava;
  color: $dark-lava;
}

@media (max-width: $tablet-screen) {
  .btn {
    padding: 2vw 0;
  }
}
