@import "../../common/common.scss";

.textarea-question {
  margin-top: $line-spacing;
  grid-template-rows: 15vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: top;

  label {
    grid-column-end: span 3;
  }

  textarea {
    border-style: solid;
    border-color: $saffron;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  textarea,
  span {
    color: $saffron;
    grid-column-end: span 6;
  }
}

.hover-highlight:focus,
.hover-highlight:hover {
  outline-style: none;
  box-shadow: 0 0 1rem 0.05rem white;
  transition: $transition-time;
}

@media (max-width: $tablet-screen) {
  .textarea-question {
    margin-top: $line-spacing-responsive;
    grid-template-rows: 8vw 25vw;
    margin-bottom: 5vw;
    label {
      grid-column-end: span 9;
    }

    textarea,
    span {
      grid-column-end: span 9;
    }

    textarea {
      padding: 1vw 2vw;
    }
  }
}

@media (max-width: $mobile-screen) {
  .hover-highlight:focus,
  .hover-highlight:hover {
    outline-style: none;
    box-shadow: 0 0 0.2rem 0.03rem white;
    transition: $transition-time;
  }
}
