@import "../../common/common.scss";

.save-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;

  svg {
    fill: white;
  }

  svg:hover {
    fill: $saffron;
    transition: $transition-time;
  }
}
