@import "../../common/common.scss";

.save-button {
  grid-column-end: span 1;
  width: 3rem;
  justify-self: end;

  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  padding: 0;

  svg {
    fill: white;
  }

  svg:hover {
    fill: $saffron;
    transition: $transition-time;
  }
}

@media (max-width: $tablet-screen) {
  .save-button {
    grid-column-end: span 2;
    width: 7vw;
  }
}
