@import "../../common/common.scss";

.hover-highlight:focus,
.hover-highlight:hover {
  outline-style: none;
  box-shadow: 0 0 1rem 0.05rem white;
  transition: $transition-time;
}

@media (max-width: $mobile-screen) {
  .hover-highlight:focus,
  .hover-highlight:hover {
    outline-style: none;
    box-shadow: 0 0 0.2rem 0.03rem white;
    transition: $transition-time;
  }
}
