@import "./common/common.scss";

$padding-form-container: 2vw 7vw;

h1 {
  margin: 0;
  text-align: center;
  font-size: $h1-font-size-desktop;
}

.form-container {
  margin: 8vw;
  color: white;
  width: 70vw;
}

.form-heading-container {
  background-color: $dark-lava;
  padding: $padding-form-container;
  border-radius: $border-radius $border-radius 0 0;
  padding: 2vw 0;
}

.form-body-container {
  padding: $padding-form-container;
  background-color: $bdazzled-blue;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 4vw 8vw;

  display: grid;
  row-gap: 5vw;

  * {
    font-weight: 600;
  }
}

@media (max-width: $tablet-screen) {
  .form-container {
    width: 80vw;
  }

  .form-heading-container {
    padding: 3vw 0;
  }
}
