//holds variables used here
@import "./common/common.scss";

//holds classes applied across all files. this is the only place it appears.
@import "./common/classes.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $caribbean-green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
