/* SCSS HSL */
$saffron: hsla(47, 81%, 56%, 1);
$bdazzled-blue: hsla(217, 48%, 39%, 1);
$dark-lava: hsla(37, 16%, 28%, 1);
$caribbean-green: hsla(168, 97%, 41%, 1);
$tart-orange: hsla(5, 96%, 61%, 1);

$tablet-screen: 769px;
$mobile-screen: 576px;
