@import "../../common/common.scss";

.form-question {
  margin-top: 4vw;
  grid-template-rows: 4rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;

  label {
    grid-column-end: span 3;
  }

  input {
    border: 0.2rem solid $saffron;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  input,
  span {
    color: $saffron;
    grid-column-end: span 5;
  }
}

.hover-highlight:focus,
.hover-highlight:hover {
  outline-style: none;
  box-shadow: 0 0 1rem 0.05rem white;
  transition: $transition-time;
}

@media (max-width: $tablet-screen) {
  .form-question {
    grid-template-rows: 8vw 13vw;
    label {
      grid-column-end: span 9;
    }

    input,
    span {
      grid-column-end: span 7;
    }

    input {
      padding: 1vw 2vw;
    }
  }
}

@media (max-width: $mobile-screen) {
  .form-question {
    input {
      border: 0.15rem solid $saffron;
    }
  }

  .hover-highlight:focus,
  .hover-highlight:hover {
    outline-style: none;
    box-shadow: 0 0 0.2rem 0.03rem white;
    transition: $transition-time;
  }
}
