@import "../../common/common.scss";

.form-question {
  margin-top: 4vw;

  display: grid;
  grid-template-columns: repeat(9, 1fr);

  label {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    grid-column-end: span 3;
  }

  input {
    border: 0.2rem solid $saffron;
    border-radius: $border-radius;
    color: $saffron;
    grid-column-end: span 5;
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

@media (max-width: $tablet-screen) {
  .form-question {
    label {
      grid-column-end: span 9;
      margin-bottom: 2vw;
    }

    input {
      grid-column-end: span 7;
      padding: 1vw 2vw;
      border-radius: $border-radius-responsive;
    }
  }
}

@media (max-width: $mobile-screen) {
  .form-question {
    input {
      border: 0.15rem solid $saffron;
    }
  }
}
